In [25]:
!pip install mysql.connector
import mysql.connector

Requirement already satisfied: mysql.connector in /opt/anaconda3/lib/python3.12/site-packages (2.2.9)

In [9]:
import pandas as pd

In [5]:
conn=mysql.connector.connect(host="localhost",user="root",password="",db="temp_db")

In [19]:
layoff=pd.read_sql_query('select * from layoff',conn)

/var/folders/5v/g0nqjmns1xs7xr77qnjdjgz00000gn/T/ipykernel_62250/4108338282.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  layoff=pd.read_sql_query('select * from layoff',conn)

In [21]:
layoff.head()

,COL 1,COL 2,COL 3,COL 4,COL 5,COL 6,COL 7,COL 8,COL 9
0,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
1,Atlassian,Sydney,Other,500,0.05,3/6/2023,Post-IPO,Australia,210
2,SiriusXM,New York City,Media,475,0.08,3/6/2023,Post-IPO,United States,525
3,Alerzo,Ibadan,Retail,400,,3/6/2023,Series B,Nigeria,16
4,UpGrad,Mumbai,Education,120,,3/6/2023,Unknown,India,631

In [23]:
with pd.ExcelWriter('layoff.xlsx')as writer:
    layoff.to_excel(writer,sheet_name ="layoff_1")